*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --hue: 210;
    --saturation: 88%;
    --ligtness: 54%;
    --main: hsl(var(--hue), var(--saturation), var(--ligtness));
    --main-alpha: hsla(210, 88%, 54%, 0.7);
    --secondary: hsl(var(--hue), var(--saturation), 16%);
    --background: #ffffff;    
}

//settings
.formu.input-field-cont.-placeholder{
    input {
        width: 100%;
        height: 100%;
        padding: 18px 0 0 18px;
        outline: none;

        //default input styling
        border: none;
        border-radius: 8px;
        background: transparent;

        &:focus+label span {
            transform: translate(100%, -50%) scale(0.8);
            opacity: 0;
        }

        &:valid+label span {
            transform: translate(100%, -50%) scale(0.8);
            opacity: 0;
        }
    }

}

.formu.input-field-cont.--box {
    position: relative;
    min-height: 50px;
    border: 2px solid var(--main);

    input{
        width: 100%;
        height: 100%;
        border: none;
        padding: 12px;
        font-size: 1em;
    }
}


.formu.form-container {
    width: 100%;
    overflow: hidden;
    position: relative;

    * , *::before, *::after{
        transition: all 0.18s ease;
        font-size: 14px;
    }
}

.formu.form-wrapper{
    padding: 12px;
    > div{
        margin: 0 0 12px 0;

        &:nth-last-of-type(1){
            margin-bottom: 0;
        }
    }
}

.formu.group-cont{
    display: inline-block;
    width: 100%;
    margin: 12px 0;

    > div{
        margin: 0 0 12px 0;

        &.formu.radio-field-cont{
            margin-bottom: 0;
        }
        &:nth-last-of-type(1){
            margin: 0;
        }
    }

}


@media screen and (min-width: 535px){
    .formu.group-cont{
        display: flex;

        > div{
            margin: 0;
        }    
        .formu.input-field-cont{
            margin: 0 12px 0 0;
            &:nth-last-child(1){
                margin-left: 0px;
                margin-right: 0px;
            }
        }    
    }
}


.formu.input-field-cont {
    height: 70px;
    width: 100%;
    margin: 20px 0;
    position: relative;
    max-width: 320px;

    input {
        width: 100%;
        height: 100%;
        padding: 18px 0 0 18px;
        outline: none;

        //default input styling
        border: none;
        border-radius: 8px;
        background: transparent;

        &:focus+label span {
            transform: translateY(-112.5%) scale(0.8);
            opacity: 0.6;
            transform-origin: left;
            color: var(--main);
            transform: translateY(-112.5%) scale(0.8);
            opacity: 0.6;
            transform-origin: left;
        }

        &:valid+label span {
            transform: translateY(-112.5%) scale(0.8);
            opacity: 0.6;
            transform-origin: left;
            color: var(--main);
        }
    }

    label {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        width: 100%;
        height: 100%;
        cursor: pointer;

        span {
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translate(0, -50%);
        }
    }
}

.formu.textarea-field-cont {
    margin: 20px 0;
    position: relative;
    max-width: 420px;
    padding: 36px 0 0 0;
    min-height: 70px;

    textarea{
        margin: 0 0 0 0;
        border: none;
        background: none;
        max-width: 100%;
        width: 100%;
        padding: 18px;
        outline: none;
        // min-height: 70px;

    //default input styling
        border: none;
        border-radius: 8px;
        background: transparent;

        &:focus+label span {
            // transform: translateY(-112.5%) scale(0.8);
            top: 18px;
            opacity: 1;
            transform-origin: left;
            color: var(--main);
        }

        &:valid+label span {
            // transform: translateY(-112.5%) scale(0.8);
            top: 18px;
            opacity: 1;
            transform-origin: left;
            color: var(--main);
        }
    }

    label {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        width: 80%;
        height: 100%;
        cursor: pointer;

        span {
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translate(0, -50%);
        }
    }
}

@media screen and (min-width: 600px){
    .formu.input-field-cont {
        // width: 50%;
        max-width: 100%;
    }
}

@mixin check-radio-field-cont {
    // display: inline-flex;
    align-items: center;
    width: max-content;
    position: relative;

    input{
        // position: absolute;
        opacity: 0;

        &:checked + label::after{
            transform: translate(calc(-50% + 7px + 2px), -50%) scale(1);
        }

    }

    label{
        margin: 0 8px 0 0;
        cursor: pointer;
        padding: 8px;
        position: unset;

        &::before{
            content: "";
            width: 14px;
            height: 14px;
            border: 2px solid var(--main);
            border-radius: 14px;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
        }

        &::after{
            content: "";
            width: 7px;
            height: 7px;
            background: var(--main);
            border-radius: 15px;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(calc(-50% + 7px + 2px), -50%) scale(0);
        }
    }    
    
}

.formu.radio-field-cont{
    @include check-radio-field-cont();
}

.formu.check-field-cont{
    @include check-radio-field-cont();
    label{
        &::before, &::after{
            border-radius: 1px;
        }
    }
}

.formu.action-btn{
    background: linear-gradient(0deg, var(--main), var(--main-alpha));
    border-radius: 8px;
    border: none;
    cursor: pointer;
    padding: 8px;
    outline: none;
    
    span {
        color: var(--background);
        display: inline-block;
        padding: 8px 12px;
    }

    &.alt{
        background: var(--background);
        color: var(--main);
    }

    &:hover {
        transform: scale(1.1);
    }

    &:active {
        transform: scale(0.88);
    }

    &:focus {
        transform: translateY(4px);
    }    
}

